<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to SAMARTH INDUSTRIES PVT. LTD.</h1>

    <h3> <%=  1+2 %> this is basically "1+2" but because of EJS it is displaying 3</h3>
    <h3>  1+2  Now this is norman static HTML thats why it is displaying simply 1+3</h3>
    
    <h2>  <%= "samart_Patil".toUpperCase()%> </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni consequatur quasi expedita commodi, ad, sit, error qui necessitatibus vitae labore harum atque ducimus suscipit culpa! Enim perferendis eos veniam deleniti nemo nihil natus, aliquam aspernatur, ipsam vel inventore hic obcaecati adipisci error dicta sapiente soluta?</p>

    <button>CLick me !</button>
</body>
</html>